/*
 * File:          _responsive.sass
 * Project:       portfolio
 * File Created:  Monday, 6th January 2020 4:35:56 pm
 * Author(s):     Paul Martin
 * 
 * Last Modified: Thursday, 9th January 2020 12:47:14 am
 * Modified By:   Paul Martin (paul@blibspace.com)
 */

$debug: true

$break-small:  425px
$break-medium: 600px
$break-largeS: 800px
$break-largeL: 1200px

@mixin respondToSingleSize($media)
  @if $media == small
    @media only screen and (max-width: $break-small)
      @content

  @else if $media == mediumS
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1)
      @content

  @else if $media == mediumL
    @media only screen and (min-width: $break-medium) and (max-width: $break-largeS - 1)
      @content

  @else if $media == medium
    +respondToSingleSize(mediumS)
      @content
    +respondToSingleSize(mediumL)
      @content

  @else if $media == largeS
    @media only screen and (min-width: $break-largeS) and (max-width: $break-largeL - 1)
      @content

  @else if $media == largeL
    @media only screen and (min-width: $break-largeL)
      @content

  @else if $media == large
    +respondToSingleSize(largeS)
      @content
    +respondToSingleSize(largeL)
      @content


@mixin respondTo($sizes...)
  @each $size in $sizes
    +respondToSingleSize($size)
      @content

    
    

@mixin responsiveFont($largeFontSize)
  +respondTo(large)
    font-size: $largeFontSize
  +respondTo(mediumL)
    font-size: .95 * $largeFontSize
  +respondTo(mediumS)
    font-size: .9 * $largeFontSize
  +respondTo(small)
    font-size: .9 * $largeFontSize