 /*
 * File:          TitleDescription.jsx
 * Project:       portfolio
 * File Created:  Sunday, 5th January 2020 2:20:09 pm
 * Author(s):     Paul Martin
 *
 * Last Modified: Sunday, 5th January 2020 10:12:38 pm
 * Modified By:   Paul Martin (paul@blibspace.com)
 */

//normalize.css
@import 'normalize'

// fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap')

// custom modules
@import responsive

$margin: 120px
$imageWidth: 300px

// colours
$black: #394349
$faintBlack: rgba(57, 67, 73, 0.5)
$blue: #367fce
$faintBlue: rgba(54, 127, 206, 0.5)
$white: #fff

// font sizes
$normal: 1rem
$large: 2rem
$verylarge: 3.2rem

// font weights
$light: 300
$regular: 400
$bold: 700

.column-left
  width: 45%
  +respondTo(small, medium, largeS)
    width: 100%

body
  margin: 0
  font-family: 'Work Sans', 'Arial', sans-serif
  font-weight: $regular
  letter-spacing: .5px
  +responsiveFont($normal)
  color: $black
  min-height: 200vh

.link
  text-decoration: none
  color: $blue
  cursor: pointer
  transition: .1s
  &:hover
    color: $faintBlue
    // text-decoration: underline

#navbar
  position: absolute
  bottom: 0
  margin-right: -20px // to make up for 20px padding on each side of navbar-item
  margin-left: -20px
  padding: 30px 0 20px $margin

  +respondTo(small, medium, largeS)
    top: 640px
    left: 50%
    transform: translateX(-50%)
    text-align: center
    margin: 0 // otherwise the navbar is off-center to the left by 20px
    padding: 30px 0 20px

  &.sticky
    width: 100vw
    position: fixed
    z-index: 2
    top: 0
    bottom: auto
    background: rgba(255, 255, 255, 0.96)

  .navbar-item
    margin: 0 20px
    +respondTo(small)
      margin: 0 12px

.title
  // center vertically
  position: absolute
  top: 50%
  left: $margin
  transform: translate(0, -50%)
  +respondTo(small, medium, largeS)
    position: absolute
    text-align: center
    top: 330px
    left: 50%
    transform: translateX(-50%)
  +respondTo(medium, largeS)
    top: 400px

  .name
    margin: 0
    display: block
    margin-bottom: 10px
    span
      +responsiveFont($large)
      font-weight: $bold
      border-bottom: solid $black 3px
      break-after: always
      padding-bottom: 10px

  #typed_description
    display: block
    margin: 35px 0 0
    +responsiveFont($verylarge)
    font-weight: $light
    background: white

main
  position: relative

  top: calc(100vh + 80px)
  +respondTo(small, medium, largeS)
    top: 830px

  margin: 0 $margin
  +respondTo(small, mediumS)
    margin: 0 20px
  +respondTo(mediumL)
    margin: 0 75px

  .h2
    position: relative
    font-size: 1em
    font-weight: $bold
    +respondTo(small, medium, largeS)
      font-size: 1.2em

    // underline
    padding-bottom: 10px + 3px
    &:after
      content: ''
      width: 60px
      height: 3px
      +respondTo(small, medium, largeS)
        height: 4px
      background: $black
      position: absolute
      bottom: 0
      left: 0
  
  p
    line-height: 1.75

section
  margin-bottom: 225px
  margin-top: 40px

  &#about
    @extend .column-left
    // nothing yet
  
  &#experiences
    > div // each experience div
      &:first-child
        margin-top: 60px
      margin-top: 120px
      position: relative

    span.timespan
      display: block

    span.name
      @extend .column-left
      display: block
      +responsiveFont($large)
      font-weight: $bold
      margin: 20px 0
      hyphens: none
    
    p
      @extend .column-left
      margin: 20px 0

    img, .img-right
      +respondTo(small, medium, largeS)
        margin: 20px auto
        max-width: calc(100% - 40px)
        max-height: 250px

      +respondTo(largeL)
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        width: $imageWidth
  
  &#technologies
    @extend .column-left

    .technology
      display: block
      width: 100%
      position: relative
      margin: 15px 0

      .name
        position: relative
        left: 50%

      .bar
        position: absolute
        width: 45%
        max-width: 250px
        float: left
        top: 50%

        .bar_line
          width: 100%
          height: 1px
          border-radius: .5px
          background-color: $faintBlue
          transform: translateY(-50%)

        .bar_fill
          position: absolute
          top: 0
          left: 0
          width: 0px
          height: 4px
          border-radius: 2px
          background-color: $blue
          transform: translateY(-50%)
    
  &#projects
    @extend section#experiences
    video
      @extend .img-right
      +respondTo(small, medium, largeS)
        margin: 20px auto
        max-width: calc(100% - 40px)
        max-height: 250px

      +respondTo(largeL)
        width: 40%

  &#contact
    @extend .column-left

    p
      margin: 20px 0

    .social
      line-height: $normal
      margin: 15px 0
      width: fit-content
  
  &#footer
    margin-bottom: 30px
    color: $faintBlack


#img_paul
  +respondTo(small, medium, largeS)
    position: absolute
    top: 120px
    left: 50%
    right: auto
    transform: translate(-50%, 0)
    width: 150px

  +respondTo(medium, largeS)
    width: 225px

  +respondTo(largeL)
    position: absolute
    top: 50%
    right: $margin
    width: $imageWidth
    &.sticky
      position: fixed
      top: 50%
      transform: translateY(-50%)

.hidden
  display: none

.bold
  font-weight: $bold

.blue
  color: $blue